
		body {
			background-image: url(images/background.png);
		}

		section {
			margin: 0 5% 5% 5%;

		}

/* Nav Bar Styling */	
		.navbar-default .navbar-brand {
			background-color: #4aaaa5;
			color:white;
			font-family: Georgia, Times, "Time New Roman", serif;
			font-weight: bold;
		}

		.navbar-default .navbar-brand:hover {
			background-color: #4aaaa5;
			color:white;
			border-radius: 0;
		}
			
		.navbar {
			background-color: white;
			border-radius: 0 !important;
			border-color: 0;
			border-width: 0;
		}

		.navbar-header {
			margin:0;
		}


/* Main Body */	
		.whiteBox {
			position:relative;
			background-color: white;
			padding-bottom: 5%;
		}

		p {
			line-height: 1.5;
		}

		.page-header {
			font-family: Georgia, Times, "Time New Roman", serif;
			font-weight:bold;	
			font-size: 1.75em;
			color: #4aaaa5;
		}

		h3 {
			font-family: Georgia, Times, "Time New Roman", serif;
			text-align: center;
			font-weight:bold;	
			font-size: 1.25em;
			color: #4aaaa5;
			padding: 5% 0 0 0;
			margin-top: 0;
		}

		.AboutImg {
			margin-bottom:5%;
		}

		.icons {
			text-align: center;
		}


		.footer {
			position: absolute;
 			display: block;
 			width: 100%;
			padding: 3em 0;
			font-size: .75em;
			color: #fff;
			color: #ccc;
			text-align: center;
			background: #666;
			border-top: .5em solid #4aaaa5;
			margin-top: 5%;
		}


	@media screen and (max-width: 980px) and (min-width: 769px) {	